body
{
	background-color:#c0c0c0;
}

#logo2
{  /*change the size of the logo in the HTML with ID Logo2*/
	width:100px;
	height: 100px;
}

#yelp
{	position:absolute;
	max-width:30%;
	max-height:14%;
	right:1%;
	top:0%;
}

#header
{	background-color: white;
	position:static;
	left: 0px;
	top:0px;
	border-bottom-color: 1px solid black; 
	
}
#text
{	position:absolute;
	left:11%;
	margin-top:67px;
	width:50%;
	height:15px;
}
#search
{  position:absolute;
	right:30%;
	right:38%;
	margin-top:67px;
	height:21px;
	/*width: 50%;*/
}

#footer
{
	background-color:white;
	position:absolute;
	bottom:0px;
	margin: auto; 
	width:100%;
	left:0px;
	size:50%;
}
#copyright
{
	
	
}
#top
{
	text-decoration: underline;
	font-weight: bold;
}
#foodType
{
	background-color: green;
	left:0px;
}