#demo
{
	background-color: white;
}
body
{
	background-color:#c0c0c0;
}

#logo2
{  /*change the size of the logo in the HTML with ID Logo2*/
	width:100px;
	height: 100px;
}

#header
{
  background-color: #004000;
	position:static;
	left: 0px;
	top:0px;
	border-bottom-color: 1px solid black; 
	
}
#text
{  position:absolute;
	left:20%;
	
	width: 50%;
}
#search
{  position:absolute;
	right:30%;
	
	/*width: 50%;*/
}

#footer
{
	background-color: #004000;
	position:fixed;
	bottom:0px;
	margin: auto; 
	width:100%;
	left:0px;
	size:50%;
}
#copyright
{
	
	
}
#top
{
	text-decoration: underline;
	font-weight: bold;
}
#foodType
{
	background-color: green;
	left:0px;
}